<% include headers/header %>

<div class="nav_bar">
    <a class="title" href="/homepage">School App</a>

    <div class="quickAccess">

        <a class="quickAccess_title" href="#" onClick="dropDownTop();return false;"><em class="material-icons" style="float:left;font-size:30px;padding-right: 10px;">account_box</em><span><%=name%></span>  <em class="material-icons" style="float: right;font-size:30px">keyboard_arrow_down</em></a>



        <div class="quickAccess_list" id="quickAccess_list" style="display: none;">
            <a href="#"><i class="material-icons" style="font-size:20px;padding-right: 10px;">inbox</i>Inbox</a>


        </div>

    </div>
</div>

<div class="sidebar">
    <div class="sidebar_body">
        <div>
            <ul class="sidebar_menu">

                <li class="sidebar_menu_item">
                    <!-- button doesn't work for now-->
                        <form action="/viewProfile" method="POST">

                            <input type="text" name="userID" style="display:none" value = "<%=userID%>">
                            <button name="toProfile" class="toProfile"><i class="material-icons" style="float: left;padding-right:10px;">account_circle</i>My Account</button>
                                </form>
                </li>

                <li class="sidebar_menu_item">
                  <form action="/goToWall" method="POST">
                    <input type="text" name = "userID" style="display:none" value="<%=userID%>">
                    <input type="text" name = "friendID" style="display:none" value="<%=userID%>">
                    <button name="toMyWall" class="toMyWall"><i class="material-icons" style="float: left;padding-right:10px;">description</i>My Wall</button>
                  </form>
                </li>

                <li class="sidebar_menu_item"><a href="#" onClick="dropDownSide();return false;"><em class="material-icons" style="float:left;padding-right:10px;">supervisor_account</em>Student Info <em class="material-icons" style="float: right;font-size:20px">keyboard_arrow_down</em></a>
                    <ul class="sidebar_studentInfo_dropDownMenu" id="dropDownList" style="display: block" >
                        <li class="sidebar_menu_item">
                            <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">stars</i>Grades</a>
                        </li>
                        <li class="sidebar_menu_item">
                            <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">date_range</i>Schedule</a>
                        </li>
                        <li class="sidebar_menu_item">
                            <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">school</i>Classes</a>
                        </li>
                    </ul>

                </li>

                <li class="sidebar_menu_item">

                 <form action="/friends" method="POST">

                                           <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                                           <input type="text" name="userName" style="display:none" value = "<%= name%>">
                                           <button name="toFriends" class="toFriends"><i class="material-icons" style="float: left;padding-right:10px;">tag_faces</i>Friends</button>
                                               </form>

                                               </li>

                    <li class="sidebar_menu_item">

                        <form action="/groups" method="POST">

                        <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                        <button name="toGroups" class="toGroups"><i class="material-icons" style="float: left;padding-right:10px;">group_work</i>Groups</button>
                            </form>

                            </li>

                <li class="sidebar_menu_item">
                    <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">contact_phone</i>Teacher Contact Info</a>
                </li>

                <li class="sidebar_menu_item">
                    <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">help</i>Help</a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="page_content">


                <form action="/reply" method="POST">
                    <div class="linkedPost">

                       <span class="postAuthor"><em class="material-icons" style="float:left;font-size:27px;padding-right: 2px; padding-top:3px ">account_circle</em><%=posterName%></span>
                    <div class="postContent">


                        <input type="text"name = "postContent" style="display:none" value = "<%= post%>">
                        <input type="text" name = "postID" style="display:none" value = "<%= postID%>">
                        <input type="text" name = "userID" style="display:none" value = "<%= userID%>">
                        <span class="Text"><%= post %></span>

                    </div>
                </div>

                <div name="replyBox" id="replyBox">



                    <textarea id="replayArea" name="replayArea"  rows="4" cols="120"  placeholder="Post a reply."></textarea>
                    <input type="text" name = "userName" style="display:none" value = "<%= name%>">


                    <button name="submitComment" id="submitComment">Reply</button>

                </form>


                </div>




   <p id="commentTitle">Comments</p>


                <table class="commentsTable">

        <% if(typeof comments !== 'undefined'){ %>
       <% comments.forEach(function(u){ %>
                    <tr class="posts">

                        <td><span class="postAuthor"><em class="material-icons" style="float:left;font-size:20px;padding-right: 2px; padding-top:3px ">account_circle</em><%=u.Fname%></span>
                    <div class="commentContent">

                        <!--COmment Content here-->

                        <span class="commentText"><%= u.Content %></span>

                    </div>
                       </tr>
      <% }) %>
      <% } %>

            </table>

    </div>
</div>


<!-- Show/hide drop down menu -->
<script>
    function dropDownTop() {
        var dropDownList = document.getElementById("quickAccess_list");
        if(dropDownList.style.display === "block")
            dropDownList.style.display = "none";
        else
            dropDownList.style.display = "block";
    }
    function dropDownSide() {
        var dropDownList = document.getElementById("dropDownList");
        if(dropDownList.style.display === "block")
            dropDownList.style.display = "none";
        else
            dropDownList.style.display = "block";
    }
</script>


<% include headers/footer %>
