<% include headers/header %>
<nav class="navbar navbar-expand-lg fixed-top">

        <a class="navbar-brand" href="#">
                <div class="navbar-header">
                        <a class="navbar-brand" href="/homepage">School App</a>
                      </div>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> </div>
             
                <a class="btn btn-outline-danger my-2 my-sm-0 ml-3 mr-3" role="button" href="/homepage"> <i class="fas fa-sign-out-alt"></i>Log Out</a>
        
          </nav>
        
          <div class="wrapper">
                <aside class="main_sidebar">
                        <ul class="sidebar_menu">
        
        
                                <div class="card text-center"  style="padding-top:10px; background-color: rgb(16, 26, 49);">
                                        <img class="rounded-circle"  style="margin-left: 110px;" src="stylesheets/res/placeholderProfilePicture.png" alt="User Profile Picture" height="128px" width="128px">
                                        <div class="card-body">
                                          <h5 class="card-title text-white"><%= name%></h5>
            
                                          <form action="/viewProfile" method="POST">
            
            
                                            <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                                            <button name="toProfile" class="btn btn-danger"><i class="fa fa-user-circle m-1"></i>View Profile</button>
                                                </form>
                                        
                                        </div>
                                      </div>
        
                                <li class="sidebar_menu_item">
                                
                                        
                                </li>
            
                                <li class="sidebar_menu_item">
                                  <form action="/goToWall" method="POST">
                                    <input type="text" name = "userID" style="display:none" value="<%=userID%>">
                                    <input type="text" name = "friendID" style="display:none" value="<%=userID%>">
                                    <button name="toMyWall" class="toMyWall"><i class="material-icons" style="float: left;padding-right:10px;">description</i>My Wall</button>
                                  </form>
                                </li>
            
                                <li class="sidebar_menu_item">
            
                                 <form action="/friends" method="POST">
            
                                                           <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                                                           <input type="text" name="userName" style="display:none" value = "<%= name%>">
                                                           <button name="toFriends" class="toFriends"><i class="material-icons" style="float: left;padding-right:10px;">tag_faces</i>Friends</button>
                                                               </form>
            
                                                               </li>
            
                                    <li class="sidebar_menu_item">
            
                                        <form action="/groups" method="POST">
            
                                        <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                                        <button name="toGroups" class="toGroups"><i class="material-icons" style="float: left;padding-right:10px;">group_work</i>Groups</button>
                                            </form>
            
                                            </li>
            
                                            <li class="sidebar_menu_item"><a href="#" onClick="dropDownSide();return false;"><em class="material-icons" style="float:left;padding-right:10px;">supervisor_account</em>Student Info <em class="material-icons" style="float: right;font-size:20px">keyboard_arrow_down</em></a>
                                                <ul class="sidebar_studentInfo_dropDownMenu" id="dropDownList" style="display: none" >
                                                    <li class="sidebar_menu_item">
                                                        <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">stars</i>Grades</a>
                                                    </li>
                                                    <li class="sidebar_menu_item">
                                                        <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">date_range</i>Schedule</a>
                                                    </li>
                                                    <li class="sidebar_menu_item">
                                                        <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">school</i>Classes</a>
                                                    </li>
                                                </ul>
                        
                                            </li>
                        
            
            
                                <li class="sidebar_menu_item">
            
                                    <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">contact_phone</i>Teacher Contact Info</a>
                                </li>
            
                                <li class="sidebar_menu_item">
                                    <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">help</i>Help</a>
                                </li>
            
                            </ul>
                         </aside>
                
                        </div> 
<div class="page_content">


                <form action="/reply" method="POST">
                    <div class="linkedPost">

                       <span class="postAuthor"><em class="material-icons" style="float:left;font-size:27px;padding-right: 2px; padding-top:3px ">account_circle</em><%=posterName%></span>
                    <div class="postContent">


                        <input type="text"name = "postContent" style="display:none" value = "<%= post%>">
                        <input type="text" name = "postID" style="display:none" value = "<%= postID%>">
                        <input type="text" name = "userID" style="display:none" value = "<%= userID%>">
                        <span class="Text"><%= post %></span>

                    </div>
                </div>

                <div name="replyBox" id="replyBox">



                    <textarea id="replayArea" name="replayArea"  rows="4" cols="100" oninput="tagFriends()"  placeholder="Post a reply."></textarea>
                    <table class="tagFriendsTable" id="matchedFriends">
                      <!-- matched friends will go here-->
                      <tr><td>hello</td></tr>
                    </table>
                    <input type="text" name = "userName" style="display:none" value = "<%= name%>">


                    <button name="submitComment" id="submitComment">Reply</button>
                    <td><span class="taggedFriendsLabel">Tagged Friends: <span id="allTaggedFriends" style="position:absolute"></span></span></td>
                    <p id="taggedFriendsIDs"></p>
                  </tr></table>

                </form>


                </div>




   <p id="commentTitle">Comments</p>


                <table class="commentsTable">

        <% if(typeof comments !== 'undefined'){ %>
       <% comments.forEach(function(u){ %>
                    <tr class="posts">

                        <td><span class="postAuthor"><em class="material-icons" style="float:left;font-size:20px;padding-right: 2px; padding-top:3px ">account_circle</em><%=u.Fname%></span>
                    <div class="commentContent">

                        <!--COmment Content here-->

                        <span class="commentText"><%= u.Content %></span>

                    </div>
                       </tr>
      <% }) %>
      <% } %>

            </table>

    </div>
</div>

<!--<%friends.forEach(function(u){%>-->
     <p class="taggableFriendName" style="display:none"><%=u.Fname%> <%=u.Lname%></p>
     <p class="taggableFriendID" style="display:none"><%=u.ID%></p>


 <!--  <% }); %>-->


<!-- Show/hide drop down menu -->
<script>
    function dropDownTop() {
        var dropDownList = document.getElementById("quickAccess_list");
        if(dropDownList.style.display === "block")
            dropDownList.style.display = "none";
        else
            dropDownList.style.display = "block";
    }
    function dropDownSide() {
        var dropDownList = document.getElementById("dropDownList");
        if(dropDownList.style.display === "block")
            dropDownList.style.display = "none";
        else
            dropDownList.style.display = "block";
    }

    function tagFriends(){
      var textinput = document.getElementById("replayArea").value;


      checkTags(textinput);

      closeUnusedTagSuggestions();



      for(i=0;i<textinput.length;i++){


        if(textinput.charAt(i)=="@"){


          var taggableFriends =document.getElementsByClassName("taggableFriendName");
          var taggableFriendsID=document.getElementsByClassName("taggableFriendID");
          var nameLength=textinput.length-i-1;
          var matchedFriends = new Array();
          var matchedFriendID = new Array();




          for(z=0;z<taggableFriends.length;z++){

            if(textinput.substring(i+1,textinput.length).toUpperCase()==taggableFriends[z].innerHTML.substring(0,nameLength).toUpperCase()){

              matchedFriends.push(taggableFriends[z].innerHTML);
              matchedFriendID.push(taggableFriendsID[z].innerHTML);

            };

          };

          var showMatchedFriends;

          for(x=0;x<5;x++){
            if(typeof matchedFriends[x]!=='undefined'){
            if(typeof showMatchedFriends!=='undefined')
              showMatchedFriends= showMatchedFriends+"<tr class=\"taggableFriends\"><td><button id=\""+matchedFriendID[x]+"\" type=\"button\" onclick=\"tagFriend("+matchedFriendID[x]+")\" value=\""+matchedFriends[x]+"\">"+matchedFriends[x]+"</button></td></tr>";

            else
              showMatchedFriends= "<tr class=\"taggableFriends\"><td><button id=\""+matchedFriendID[x]+"\" type=\"button\" onclick=\"tagFriend("+matchedFriendID[x]+")\" value=\""+matchedFriends[x]+"\">"+matchedFriends[x]+"</button></td></tr>";

            };


            if(typeof showMatchedFriends!=='undefined')
              document.getElementById("matchedFriends").innerHTML = showMatchedFriends;

            };


        };
      };
    };

    function tagFriend(friendID){
      var friendName = document.getElementById(friendID).value;
      var taggedFriends = document.getElementsByClassName("taggedFriends");

      autocomplete(friendName);

      checkTags(document.getElementById("replayArea").value);

    };

    function autocomplete(friendName){
      var textinput = document.getElementById("replayArea").value;
      var lastChar=0;
      for(i=0;i<textinput.length;i++){
        if(textinput.charAt(i)=="@")
          lastChar = i;
      };
      document.getElementById("replayArea").value = textinput.substring(0,lastChar)+"@"+friendName;
    };

    function checkTags(text){
      var taggedFriends = document.getElementsByClassName("taggableFriendName");

      var taggedFriendsIDs = document.getElementsByClassName("taggableFriendID");
      var checkedFriends = new Array();
      var checkedFriendIDs = new Array();

      var z = 0;
      for(i=0;i<taggedFriends.length;i++){
        for(start=0;start<text.length;start++){
          for(end=start;end<text.length;end++){
            if(text.substring(start,end)==taggedFriends[i].innerHTML){
              checkedFriends.push("<p class=\"taggedFriends\" style=\"display:inline-block;width:100px\">"+taggedFriends[i].innerHTML+ "</p>");
              checkedFriendIDs.push("<input type=\"text\" id=\"taggedFriend"+z+"\" name = \"taggedFriend"+z+"\" style = \"display:none\" value = "+taggedFriendsIDs[i].innerHTML+">");
              z++;
            }
          }
        }
      }

      var showCheckedFriends = checkedFriends[0];
      var showCheckedFriendIDs = checkedFriendIDs[0];

      for(allTags=1;allTags<checkedFriends.length;allTags++){
        showCheckedFriends = showCheckedFriends+checkedFriends[allTags];
        showCheckedFriendIDs = showCheckedFriendIDs+checkedFriendIDs[allTags];
      }

      if(checkedFriends.length!=0){

        document.getElementById("allTaggedFriends").innerHTML = showCheckedFriends;
        document.getElementById("taggedFriendsIDs").innerHTML = showCheckedFriendIDs;
      }

      else{

        document.getElementById("allTaggedFriends").innerHTML = "";

        document.getElementById("taggedFriendsIDs").innerHTML = "";

      }


    };

    function closeUnusedTagSuggestions(){
      var taggedFriends = document.getElementsByClassName("taggedFriends");
      var textinput = document.getElementById("replayArea").value;
      var tags = 0;

      for(i=0;i<textinput.length;i++){
        if(textinput.charAt(i)=="@")
          tags++;
      }
      if(tags==taggedFriends.length)
        document.getElementById("matchedFriends").innerHTML = "";
    }


</script>


<% include headers/footer %>
