<% include headers/headerGroups %>
<nav class="navbar navbar-expand-lg fixed-top">

        <a class="navbar-brand" href="#">
                <div class="navbar-header">
                        <a class="navbar-brand" href="/homepage">School App</a>
                      </div>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> </div>
   
                <a class="btn btn-outline-danger my-2 my-sm-0 ml-3 mr-3" role="button" href="/homepage"> <i class="fas fa-sign-out-alt"></i>Log Out</a>
        
          </nav>
        
          <div class="wrapper">
                <aside class="main_sidebar">
                        <ul class="sidebar_menu">
        
        
                                <div class="card text-center"  style="padding-top:10px; background-color: rgb(16, 26, 49);">
                                        <img class="rounded-circle"  style="margin-left: 110px;" src="stylesheets/res/placeholderProfilePicture.png" alt="User Profile Picture" height="128px" width="128px">
                                        <div class="card-body">
                                          <h5 class="card-title text-white"><%= name%></h5>
            
                                          <form action="/viewProfile" method="POST">
            
            
                                            <input type="text" name="userID" style="display:none" value = "<%= uID%>">
                                            <button name="toProfile" class="btn btn-danger"><i class="fa fa-user-circle m-1"></i>View Profile</button>
                                                </form>
                                        
                                        </div>
                                      </div>
        
                                <li class="sidebar_menu_item">
                                
                                        
                                </li>
            
                                <li class="sidebar_menu_item">
                                  <form action="/goToWall" method="POST">
                                    <input type="text" name = "userID" style="display:none" value="<%=uID%>">
                                    <input type="text" name = "friendID" style="display:none" value="<%=uID%>">
                                    <button name="toMyWall" class="toMyWall"><i class="material-icons" style="float: left;padding-right:10px;">description</i>My Wall</button>
                                  </form>
                                </li>
            
                                <li class="sidebar_menu_item">
            
                                 <form action="/friends" method="POST">
            
                                    <input type="text" name = "userID" style="display:none" value="<%=uID%>">
                                    <input type="text" name="userName" style="display:none" value = "<%= name%>">
                                                           <button name="toFriends" class="toFriends"><i class="material-icons" style="float: left;padding-right:10px;">tag_faces</i>Friends</button>
                                                               </form>
            
                                                               </li>
            
                                    <li class="sidebar_menu_item">
            
                                        <form action="/groups" method="POST">
            
                                        <input type="text" name="userID" style="display:none" value = "<%= uID%>">
                                        <button name="toGroups" class="toGroups"><i class="material-icons" style="float: left;padding-right:10px;">group_work</i>Groups</button>
                                            </form>
            
                                            </li>
            
                                            <li class="sidebar_menu_item"><a href="#" onClick="dropDownSide();return false;"><em class="material-icons" style="float:left;padding-right:10px;">supervisor_account</em>Student Info <em class="material-icons" style="float: right;font-size:20px">keyboard_arrow_down</em></a>
                                                <ul class="sidebar_studentInfo_dropDownMenu" id="dropDownList" style="display: none" >
                                                    <li class="sidebar_menu_item">
                                                        <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">stars</i>Grades</a>
                                                    </li>
                                                    <li class="sidebar_menu_item">
                                                        <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">date_range</i>Schedule</a>
                                                    </li>
                                                    <li class="sidebar_menu_item">
                                                        <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">school</i>Classes</a>
                                                    </li>
                                                </ul>
                        
                                            </li>
                        
            
            
                                <li class="sidebar_menu_item">
            
                                    <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">contact_phone</i>Teacher Contact Info</a>
                                </li>
            
                                <li class="sidebar_menu_item">
                                    <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">help</i>Help</a>
                                </li>
            
                            </ul>
                         </aside>
                
                        </div> 

    <div class="page_content">



        <% if(typeof groupName !== 'undefined'){ %>
       <p class="groupNAME"><%=groupName%></p>
            
            <% } %>
        <hr>


        <form action="/groupRequest" method="POST" onsubmit="return alert('Request Sent to Group Admin')">
            <!-- Not a member -->
            <% if(typeof memberStatus == 'undefined'){ %>
                <input type="text" name ="leaderID" style="display:none" value = "<%= leader.memberID%>">
                <input type="text" name ="groupID" style="display:none" value = "<%= groupID%>">
                <input type="text" name ="logID" style="display:none" value = "<%= uID%>">
                <button name="groupRequest" type="submit" class="requestBtn">Send Group Request ? </button>
        <span id="memberStatus" style="position:absolute;">You are not a member of this group. Click to send a request to the group leader.</span>     
            
            <% } %>
            <!-- Member -->
            <% if(typeof memberStatus !== 'undefined' && leader.memberID != uID ){ %>
                <span id="memberStatus">You are a member of this group.</span>
                <% } %>
            <!-- Leader  -->
            <% if(leader.memberID == uID){ %>
                <span id="memberStatus">You are the leader of this group.</span>
                <% } %>
            </form>


            <hr>
            <div class="search">

                <div class="searchBar">
                    <p id="searchTitle">Search Users</p>

                    <form action="/searchUsers" method="POST">

                    <% if(typeof groupName !== 'undefined'){ %>
                        <input type="text" name ="groupName" style="display:none" value = "<%= groupName%>">
                        <input type="text" name ="groupID" style="display:none" value = "<%= groupID%>">
                        <% } %>
                    <input type="text" name ="logID" style="display:none" value = "<%= uID%>">
                    <input type="text" name="searchField" class="searchField1" placeholder="Search">
                    <button name="searchUsersBtn" class="searchUsersBtn">Search</button>
                        </form>



                       <table class="searchResultsTable">



                <% if(typeof queryResults !== 'undefined'){ %>
                    <% var n = 0; %>
                        <% queryResults.forEach(function(u){ %>


                            <tr class="results">


                                <% if(u == "No Results Found"){%>
                                    <td class="person" style="text-align:center;"><span><%= u %></span></td>


                                 <% }else{ %>

                                 <td class="person" style="padding-left:20px;"><span><%= u %></span></td>

                                 <% if(leader.memberID == uID || typeof memberStatus !== 'undefined' ){ %>
                                          <form action="/addToGroup" method="POST">


                                            <% var key = idKeys[n];%>
                                            <% if(typeof groupName !== 'undefined'){ %>
                                        <td class="person" style="text-align:center;"> <input type="text" name ="groupName" style="display:none" value = "<%= groupName%>"> </td>
                                        <td class="person" style="text-align:center;">  <input type="text" name ="groupID" style="display:none" value = "<%= groupID%>"></td>
                                        <% } %>
                                        <td class="person" style="text-align:center;"><input type="text"name="logID" style="display:none" value = "<%=uID%>"></td>
                                        <td class="person" style="text-align:center;"><input type="text"name ="idToAdd" style="display:none;" value = "<%=key %>"></td>
                                        
                                              <td> <button name="groupInviteBtn" class="groupInviteBtn" >Add to Group</button> </td>
                                              
                                         </form>
                                         <% } %>
                                        
                                     <% } %>
                                       </tr>
                            <% n++; %>
                        <% }) %>
                 <% } %>
                            </table>


                </div>


            </div>


                <div class="groups_List">

                <p id="fListTitle"> Group Members</p>
                    <div class="list_Header">

                            <table class="memberListTable">

                                    <% if(typeof groupMembers !== 'undefined'){ %>
                                        <% var n = 0; %>
                                            <% groupMembers.forEach(function(v){ %>



                                    <tr class="memberTableRow">


                                            <% if(n == 0){%>
                                            <td class="member" style="text-align: center;"><span class="leader"><span style="color:rgb(148, 10, 0);font-weight: bold;padding-right: 35px;">Group Leader:  </span> <%= v.Fname%> <%= v.Lname%></span></td>
                                            <% }else{ %>
                                             <td class="member"  style="text-align: center; padding: 10px;";><span class="memberName"><%=n +"."%> <%= v.Fname%> <%= v.Lname%></span></td>
                                             <% } %>
                                             <% n++; %>
                                    </tr>
                                            <% }) %>
                                    <% } %>
                            </table>
                            
                    </div>

                </div>

                <div class="requests_List">
      
                        <% if(leader.memberID == uID){ %>  
                        <p id="rListTitle"> Pending Requests</p>
                       
                            <div class="list_Header">
                                    
                                    <table class="requestListTable">
                
                                        
                                            <% if(typeof groupRequests !== 'undefined'){ %>
                                            
                                                    <% groupRequests.forEach(function(v){ %>
              
                                                      
                                            <tr class="memberTableRow">
            
                                         <td class="member" style="text-align: center; padding: 10px;";><span class="memberName"> <%= v.Fname%> <%= v.Lname%></span></td>
                

                                         <form action="/addToGroup" method="POST">
                                            <input type="text" name ="logID" style="display:none" value = "<%= uID%>">
                                            <input type="text" name ="groupID" style="display:none" value = "<%= groupID%>">
                                            <input type="text" name ="groupName" style="display:none" value = "<%= groupName%>">
                                            <input type="text"name ="idToAdd" style="display:none;" value = "<%=v.requesterID %>">
                                         <td class="member"><button name="accept" class="acceptBtn" >Accept</button>
                                        </form>

                                       
                                        <form action="/declineGroupRequest" method="POST">
                                            <input type="text" name ="logID" style="display:none" value = "<%= uID%>">
                                            <input type="text" name ="groupID" style="display:none" value = "<%= groupID%>">
                                            <input type="text" name ="groupName" style="display:none" value = "<%= groupName%>">
                                            <input type="text"name ="idToAdd" style="display:none;" value = "<%=v.requesterID %>">
                                        
                                            <td class="member"><button name="decline" class="declineBtn" >Decline</button></td>
                                        </form>

                                            </tr>
                                          
                                          

                                                    <% }) %>
                                            
                                            <% if(groupRequests.length == 0){ %>
                                                <tr class="memberTableRow">
                                                     <td class="member"><span id="noRequests">No Pending Requests</span></td>
                                                </tr>
     
                                                <% } %>
                                            <% } %>
                                    </table>

                            </div>
                            <% } %>

                        </div>

    </div>
   
    
</div>



    <!-- Show/hide drop down menu -->
    <script>


        function dropDownTop() {

            var dropDownList = document.getElementById("quickAccess_list");


            if(dropDownList.style.display === "block")
                dropDownList.style.display = "none";
            else
                dropDownList.style.display = "block";
        }


        function dropDownSide() {

            var dropDownList = document.getElementById("dropDownList");


            if(dropDownList.style.display === "block")
                dropDownList.style.display = "none";
            else
                dropDownList.style.display = "block";
        }


          function showNewPostFromBox() {

            var newPostTextForm = document.getElementById("post");


            if(newPostTextForm.style.display === "block")
                newPostTextForm.style.display = "none";
            else
                newPostTextForm.style.display = "block";
        }

    </script>

<% include headers/footer %>
