<% include headers/headerGroups %>

<div class="nav_bar">
        <a class="title" href="/homepage">School App</a>

        <div class="quickAccess">

            <a class="quickAccess_title" href="#" onClick="dropDownTop();return false;"><em class="material-icons" style="float:left;font-size:30px;padding-right: 10px;">account_box</em><span name="user_name"><%= %></span>  <em class="material-icons" style="float: right;font-size:30px">keyboard_arrow_down</em></a>



            <div class="quickAccess_list" id="quickAccess_list" style="display: none;">

                <a href="#"><i class="material-icons" style="font-size:20px;padding-right: 10px;">inbox</i>Inbox</a>
    <a href="/logout"><i class="material-icons" style="font-size:20px;padding-right: 10px; color: red">exit_to_app</i><span style="color: red">Log Out</span></a>

            </div>

        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar_body">
            <div>
                <ul class="sidebar_menu">

                    <li class="sidebar_menu_item">
                        
                            <form action="/parentProfile" method="POST">

                                <input type="text" name="userID" style="display:none" value = "<%= uID%>">
                                <button name="toProfile" class="toProfile"><i class="material-icons" style="float: left;padding-right:10px;">account_circle</i>My Account</button>
                                    </form>

                                    </li>

                    <li class="sidebar_menu_item"><a href="#" onClick="dropDownSide();return false;"><em class="material-icons" style="float:left;padding-right:10px;">supervisor_account</em>Student Info <em class="material-icons" style="float: right;font-size:20px">keyboard_arrow_down</em></a>
                        <ul class="sidebar_studentInfo_dropDownMenu" id="dropDownList" style="display: block" >
                            <li class="sidebar_menu_item">
                                <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">stars</i>Grades</a>
                            </li>
                            <li class="sidebar_menu_item">
                                <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">date_range</i>Schedule</a>
                            </li>
                            <li class="sidebar_menu_item">
                                <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">school</i>Classes</a>
                            </li>
                        </ul>

                    </li>

            
            <li class="sidebar_menu_item">

                    <form action="/friends" method="POST">

                    <input type="text" name="userID" style="display:none" value = "<%= uID%>">
                    <button name="toFriends" class="toFriends"><i class="material-icons" style="float: left;padding-right:10px;">tag_faces</i>Friends</button>
                        </form>

                        </li> 

                        <li class="sidebar_menu_item">

                            <form action="/groups" method="POST">
        
                            <input type="text" name="userID" style="display:none" value = "<%= uID%>">
                            <button name="toGroups" class="toGroups"><i class="material-icons" style="float: left;padding-right:10px;">group_work</i>Groups</button>
                                </form>
        
                                </li> 

                    <li class="sidebar_menu_item">
                        <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">contact_phone</i>Teacher Contact Info</a>
                    </li>

                    <li class="sidebar_menu_item">
                        <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">help</i>Help</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="editGroupPage_content">

    
        
        <% if(typeof groupName !== 'undefined'){ %>
       <p class="groupNAME"><%=groupName%></p>
            <% } %>
        <hr>
  
            <div class="search">
    
                <div class="searchBar">
                    <p id="searchTitle">Search Users</p>
                    
                    <form action="/searchUsers" method="POST">
                       
                    <% if(typeof groupName !== 'undefined'){ %>
                        <input type="text" name ="groupName" style="display:none" value = "<%= groupName%>">
                        <input type="text" name ="groupID" style="display:none" value = "<%= groupID%>">
                        <% } %>
                    <input type="text" name ="logID" style="display:none" value = "<%= uID%>"></td>  
                    <input type="text" name="searchField" class="searchField1" placeholder="Search">
                    <button name="searchUsersBtn" class="searchUsersBtn">Search</button>
                        </form>
    
    
    
                       <table class="searchResultsTable">
    
                                  
    
                <% if(typeof queryResults !== 'undefined'){ %>
                    <% var n = 0; %>
                        <% queryResults.forEach(function(u){ %> 
                            
                  
                            <tr class="results">
            
                            
                                <% if(u == "No Results Found"){%>
                                    <td class="person" style="text-align:center;"><span><%= u %></span></td>
                                   
                         
                                 <% }else{ %>
    
                                 <td class="person" style="padding-left:20px;"><span><%= u %></span></td>
                                          <form action="/addToGroup" method="POST">
    
                                    
                                            <% var key = idKeys[n];%>
                                            <% if(typeof groupName !== 'undefined'){ %>
                                        <td class="person" style="text-align:center;"> <input type="text" name ="groupName" style="display:none" value = "<%= groupName%>"> </td>
                                        <td class="person" style="text-align:center;">  <input type="text" name ="groupID" style="display:none" value = "<%= groupID%>"></td>
                                        <% } %>
                                        <td class="person" style="text-align:center;"><input type="text"name="logID" style="display:none" value = "<%=uID%>"></td>     
                                        <td class="person" style="text-align:center;"><input type="text"name ="idToAdd" style="display:none;" value = "<%=key %>"></td>
                                              <td> <button name="groupInviteBtn" class="groupInviteBtn" >Send Invite</button> </td>
                                         </form>
            
                                     <% } %>
                                       </tr>
                            <% n++; %>   
                        <% }) %>
                 <% } %>
                            </table> 
                
    
                </div>
    
    
            </div>
    
    
                <div class="groups_List">
    
                <p id="fListTitle"> Group Members</p>
                    <div class="list_Header">
    
                            <table class="memberListTable">
    
                                    <% if(typeof groupMembers !== 'undefined'){ %>
                                        <% var n = 0; %>
                                            <% groupMembers.forEach(function(v){ %>
    
                                        
    
                                    <tr class="memberTableRow">
    
                            
                                            <% if(n == 0){%>
                                            <td class="member" style="text-align: center;"><span class="leader"><span style="color:rgb(148, 10, 0);font-weight: bold;padding-right: 35px;">Group Leader:  </span> <%= v.Fname%> <%= v.Lname%></span></td>
                                            <% }else{ %>
                                             <td class="member"  style="text-align: center; padding: 10px;";><span class="memberName"><%=n +"."%> <%= v.Fname%> <%= v.Lname%></span></td>
                                             <% } %>
                                             <% n++; %>   
                                    </tr>
                                            <% }) %>
                                    <% } %>
                            </table>
                    </div>
    
                </div>
    
    
    
        </div>
    


    <!-- Show/hide drop down menu -->
    <script>


        function dropDownTop() {

            var dropDownList = document.getElementById("quickAccess_list");


            if(dropDownList.style.display === "block")
                dropDownList.style.display = "none";
            else
                dropDownList.style.display = "block";
        }


        function dropDownSide() {

            var dropDownList = document.getElementById("dropDownList");


            if(dropDownList.style.display === "block")
                dropDownList.style.display = "none";
            else
                dropDownList.style.display = "block";
        }


          function showNewPostFromBox() {

            var newPostTextForm = document.getElementById("post");


            if(newPostTextForm.style.display === "block")
                newPostTextForm.style.display = "none";
            else
                newPostTextForm.style.display = "block";
        }

    </script>

<% include headers/footer %>
