<% include headers/headerFriends %>

<nav class="navbar navbar-expand-lg fixed-top">

        <a class="navbar-brand" href="#">
                <div class="navbar-header">
                        <a class="navbar-brand" href="/homepage">School App</a>
                      </div>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> </div>

            <li class="nav-item dropdown list-unstyled ">
                  
                    <% if(typeof notification !== 'undefined'){ %>
                  <button class="btn btn-primary m-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><i class="fab fa-facebook-messenger p-1" style="font-size:20px;"></i></button>
                    <% }%>
                 
                  <div class=""></div>
                  <div class="dropdown-menu  " aria-labelledby="navbarDropdown">
                     
                            <% if(typeof notification !== 'undefined'){ %>
                              <% messengerNotific.forEach(function (u) { %>
                    <a class="dropdown-item " href="#"><i class="fab fa-rocketchat p-1"></i><span class="text-info"><%= u.Fname%></span> has sent you a message</a>
                    <% })%>
                    <% }%>
             
             
             <li class="nav-item dropdown list-unstyled">
                  
                    <% if(typeof notification !== 'undefined'){ %>
                  <button class="btn btn-warning nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><i class="fas fa-bell m-1"></i>Notifications <span class="badge badge-danger"><%= notification.length%> </span></button>
                    <% }%>
                 
                  <div class=""></div>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   
                            <% if(typeof notification !== 'undefined'){ %>
                                <% notification.forEach(function (u) { %>
                    <a class="dropdown-item" href="#"><em id="notificationIcon" class="material-icons" style="font-size:20px; padding-right: 10px; color: rgb(126, 2, 2);">feedback</em><%= u.Fname%> has posted on your wall</a>
                    <% })%>
                    <% }%>
          
                </li>

                <a class="btn btn-outline-danger my-2 my-sm-0 ml-3 mr-3" role="button" href="/homepage"> <i class="fas fa-sign-out-alt"></i>Log Out</a>
        
          </nav>
        
          <div class="wrapper">
                <aside class="main_sidebar">
                        <ul class="sidebar_menu">
        
        
                                <div class="card text-center"  style="padding-top:10px; background-color: rgb(16, 26, 49);">
                                        <img class="rounded-circle"  style="margin-left: 110px;" src="stylesheets/res/placeholderProfilePicture.png" alt="User Profile Picture" height="128px" width="128px">
                                        <div class="card-body">
                                          <h5 class="card-title text-white"><%= name%></h5>
            
                                          <form action="/viewProfile" method="POST">
            
            
                                            <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                                            <button name="toProfile" class="btn btn-danger"><i class="fa fa-user-circle m-1"></i>View Profile</button>
                                                </form>
                                        
                                        </div>
                                      </div>
        
                                <li class="sidebar_menu_item">
                                
                                        
                                </li>
            
                                <li class="sidebar_menu_item">
                                  <form action="/goToWall" method="POST">
                                    <input type="text" name = "userID" style="display:none" value="<%=userID%>">
                                    <input type="text" name = "friendID" style="display:none" value="<%=userID%>">
                                    <button name="toMyWall" class="toMyWall"><i class="material-icons" style="float: left;padding-right:10px;">description</i>My Wall</button>
                                  </form>
                                </li>
            
                                <li class="sidebar_menu_item">
            
                                 <form action="/friends" method="POST">
            
                                                           <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                                                           <input type="text" name="userName" style="display:none" value = "<%= name%>">
                                                           <button name="toFriends" class="toFriends"><i class="material-icons" style="float: left;padding-right:10px;">tag_faces</i>Friends</button>
                                                               </form>
            
                                                               </li>
            
                                    <li class="sidebar_menu_item">
            
                                        <form action="/groups" method="POST">
            
                                        <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                                        <button name="toGroups" class="toGroups"><i class="material-icons" style="float: left;padding-right:10px;">group_work</i>Groups</button>
                                            </form>
            
                                            </li>
            
                                            <li class="sidebar_menu_item"><a href="#" onClick="dropDownSide();return false;"><em class="material-icons" style="float:left;padding-right:10px;">supervisor_account</em>Student Info <em class="material-icons" style="float: right;font-size:20px">keyboard_arrow_down</em></a>
                                                <ul class="sidebar_studentInfo_dropDownMenu" id="dropDownList" style="display: none" >
                                                    <li class="sidebar_menu_item">
                                                        <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">stars</i>Grades</a>
                                                    </li>
                                                    <li class="sidebar_menu_item">
                                                        <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">date_range</i>Schedule</a>
                                                    </li>
                                                    <li class="sidebar_menu_item">
                                                        <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">school</i>Classes</a>
                                                    </li>
                                                </ul>
                        
                                            </li>
                        
            
            
                                <li class="sidebar_menu_item">
            
                                    <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">contact_phone</i>Teacher Contact Info</a>
                                </li>
            
                                <li class="sidebar_menu_item">
                                    <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">help</i>Help</a>
                                </li>
            
                            </ul>
                         </aside>
                
                        </div> 

    <div class="page_content">


        <div class="search">

            <div class="searchBar">
                <p id="searchTitle">Search for Friends</p>

                <form action="/searchFriends" method="POST">

                  <input type="text" name ="userName" style="display:none" value = "<%= name%>">
                <input type="text" name ="logID" style="display:none" value = "<%= userID%>"></td>
                <input type="text" name="searchField" class="searchField" placeholder="Search">
                <button name="searchFriendsBtn" class="searchFriendsBtn">Search</button>
                    </form>



                    <table class="searchResultsTable">



            <% if(typeof queryResults !== 'undefined'){ %>
                <% var n = 0; %>
                    <% queryResults.forEach(function(u){ %>


                        <tr class="results">


                            <% if(u == "No Results Found"){%>
                                <td class="person" style="text-align:center;"><span><%= u %></span></td>


                             <% }else{ %>

                             <td class="person"><span><%= u %></span></td>
                                      <form action="/addFriends" method="POST">


                                        <% var key = idKeys[n];%>
                                        <input type="text" name="userName" style="display:none" value="<%=name%>">

                                    <td class="person" style="text-align:center;"><input type="text"name="logID" style="display:none" value = "<%=userID%>"></td>
                                      <td class="person" style="text-align:center;"><input type="text"name ="idToAdd" style="display:none;" value = "<%=key %>"></td>
                                          <td> <button name="friendRequestBtn" class="friendRequestBtn" >Friend Request</button> </td>
                                     </form>

                                 <% } %>
                                   </tr>
                        <% n++; %>
                    <% }) %>
             <% } %>
                        </table>


            </div>


        </div>


            <div class="friends_List">

            <p id="fListTitle"> Friends List</p>
                <div class="list_Header">

                        <table class="friendsListTable">

                                <% if(typeof friendsList !== 'undefined'){ %>

                                        <% friendsList.forEach(function(v){ %>



                                <tr class="friendTableRow">
                                            <form action="/viewFriendProfile" method="POST">
                                              <input type="text" name="userID" style="display:none" value="<%=userID%>">
                                              <input type="text" name="friendID" style="display:none" value="<%=v.f2%>">
                                            <td class="person"><span class="friendNam" name = "friendNam"><button name="theFriendName" class="theFriendName" ><%= v.friendName%></button></span></td>
                                          </form>

                                    <form action="/goToWall" method="POST">


                                          <input type="text"name="userID" style="display:none" value = "<%=userID%>">
                                          <input type="text"name="userName" style="display:none" value = "<%=name%>">
                                            <!-- ID to go to wall -->
                                            <input type="text"name="friendName" style="display:none" value = "<%=v.friendName%>">
                                        <td class="person" style="display:none;"><input type="text"name="friendID" style="display:none;" value = "<%=v.f2%>"></td>

                                        <td> <button name="viewFriendWall" class="viewFriendWall">View Wall</button> </td>
                                    </form>
                                    <form action="/parentMessenger" method="POST">

                                      <input type="text"name="userID" style="display:none" value = "<%=userID%>">
                                      <input type="text"name="friendID" style="display:none;" value = "<%=v.f2%>">
                                      <td> <button name="messageFriend" class="messageFriend">Message</button></td>

                                    </form>
                                </tr>
                                        <% }) %>
                                <% } %>
                        </table>
                </div>

            </div>



    </div>


    <!-- Show/hide drop down menu -->
    <script>


        function dropDownTop() {

            var dropDownList = document.getElementById("quickAccess_list");


            if(dropDownList.style.display === "block")
                dropDownList.style.display = "none";
            else
                dropDownList.style.display = "block";
        }


        function dropDownSide() {

            var dropDownList = document.getElementById("dropDownList");


            if(dropDownList.style.display === "block")
                dropDownList.style.display = "none";
            else
                dropDownList.style.display = "block";
        }


          function showNewPostFromBox() {

            var newPostTextForm = document.getElementById("post");


            if(newPostTextForm.style.display === "block")
                newPostTextForm.style.display = "none";
            else
                newPostTextForm.style.display = "block";
        }

    </script>

<% include headers/footer %>
