<% include headers/header %>

<div class="nav_bar" xmlns="http://www.w3.org/1999/html">
        <a class="title" href="/homepage">School App</a>

        <div class="quickAccess">

            <a class="quickAccess_title" href="#" onClick="dropDownTop();return false;"><em class="material-icons" style="float:left;font-size:30px;padding-right: 10px;">account_box</em><span><%= name%></span>  <em class="material-icons" style="float: right;font-size:30px">keyboard_arrow_down</em></a>



            <div class="quickAccess_list" id="quickAccess_list" style="display: none;">
                <a href="#"><i class="material-icons" style="font-size:20px;padding-right: 10px;">inbox</i>Inbox</a>
    <a href="#"><i class="material-icons" style="font-size:20px;padding-right: 10px; color: red">exit_to_app</i><span style="color: red">Log Out</span></a>

            </div>

        </div>

        <div class="wrapper">
            <div class ="notDropDown">
                <a class ="notification-style" href="#" onClick="NotificationDropDownTop();return false;"><em id="notificationIcon" class="material-icons" style="font-size:55px;">notification_important</em></a>
                <div class="notifcation_list" id="notifcation_list" style="display: none;">
                    <% if (userID== WallID){ %>
                        <% if(typeof notification !== 'undefined'){ %>
                            <% notification.forEach(function (u) { %>
                                <button class="notification"><em id="notificationIcon" class="material-icons" style="font-size:20px; padding-right: 10px; color: rgb(126, 2, 2);">feedback</em><%= u.Fname%> has posted on your wall</button>
                            <% })%>
                        <% }%>
                    <% }%>
                </div>
            </div>
         </div>

    </div>

    <div class="sidebar">
        <div class="sidebar_body">
            <div>
                <ul class="sidebar_menu">

                    <li class="sidebar_menu_item">
                        <!--- change to /teacherProfile-->
                            <form action="/viewProfile" method="POST">


                                <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                                <button name="toProfile" class="toProfile"><i class="material-icons" style="float: left;padding-right:10px;">account_circle</i>My Account</button>
                                    </form>
                    </li>

                    <li class="sidebar_menu_item">
                      <form action="/goToWall" method="POST">
                        <input type="text" name = "userID" style="display:none" value="<%=userID%>">
                        <input type="text" name = "friendID" style="display:none" value="<%=userID%>">
                        <button name="toMyWall" class="toMyWall"><i class="material-icons" style="float: left;padding-right:10px;">description</i>My Wall</button>
                      </form>
                    </li>

                    <li class="sidebar_menu_item"><a href="#" onClick="dropDownSide();return false;"><em class="material-icons" style="float:left;padding-right:10px;">supervisor_account</em>Student Info <em class="material-icons" style="float: right;font-size:20px">keyboard_arrow_down</em></a>
                        <ul class="sidebar_studentInfo_dropDownMenu" id="dropDownList" style="display: block" >
                            <li class="sidebar_menu_item">
                                <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">stars</i>Grades</a>
                            </li>
                            <li class="sidebar_menu_item">
                                <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">date_range</i>Schedule</a>
                            </li>
                            <li class="sidebar_menu_item">
                                <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">school</i>Classes</a>
                            </li>
                        </ul>

                    </li>

                    <li class="sidebar_menu_item">

                     <form action="/friends" method="POST">

                                               <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                                               <input type="text" name="userName" style="display:none" value = "<%= name%>">
                                               <button name="toFriends" class="toFriends"><i class="material-icons" style="float: left;padding-right:10px;">tag_faces</i>Friends</button>
                                                   </form>

                                                   </li>

                        <li class="sidebar_menu_item">

                            <form action="/groups" method="POST">

                            <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                            <button name="toGroups" class="toGroups"><i class="material-icons" style="float: left;padding-right:10px;">group_work</i>Groups</button>
                                </form>

                                </li>



                    <li class="sidebar_menu_item">

                        <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">contact_phone</i>Teacher Contact Info</a>
                    </li>

                    <li class="sidebar_menu_item">
                        <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">help</i>Help</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="page_content">

        <form action="/viewParent" method="POST">
            <input type="hidden" name="ffnam" value="<%= name%>">
            <input type="hidden" name="userID" value="<%=userID%>">

            <input type="submit" value="message" >
        </form>

      <div name="teacherPost" id="teacherPost">
          <button id="button_newPost" onClick="showNewPostFromBox();return false;">New Post</button>

      </div>

        <div id="post" style="display: none">
            <form action="/posting" method="POST"  enctype="multipart/form-data">

              <input type="text" id="WallID" name = "WallID" style="display:none" value = "<%= WallID%>">
              <input type="text" id="PosterID" name = "PosterID" style="display:none" value = "<%= userID%>">
                <input type="text" id="name" name = "name" style="display:none" value = "<%= name%>">
                <p id="taggedFriendsIDs"></p>

            <div class="textArea" >

             <textarea id="textPost" name="textPost" rows="6" cols="100" oninput="tagFriends()" placeholder="Say Something."></textarea>

             <table class="tagFriendsTable" id="matchedFriends">
               <!-- matched friends will go here-->
             </table>



            </div>

            <form action="/" method="POST">


              <table style="display:inline-block">
            <tr>
                <td><span class="editInfoTxt">Upload an image :</span></td>

                <td><input type="file" name="userImageEdit" ></td>
                <td><span class="taggedFriendsLabel">Tagged Friends: <span id="allTaggedFriends" style="position:absolute"></span></span></td>
              </tr></table>






            <button name="submitPost" id="submitPost">Post</button>
          </form>




        </div>

        <div id="tableWrap">
            <div id="tableScroll">


        <!-- This table will show all the posts -->

                    <p id="tableTitle">Public Posts</p>
                <table class="postingsTable">



                    <!-- <% posts.forEach(function(u){ %> -->
                        <tr class="posts">

                            <td><span class="postAuthor"><em class="material-icons" style="float:left;font-size:27px;padding-right: 2px; padding-top:3px ">account_circle</em><%= u.Fname%></span>
                        <div class="postContent">


                            <!--ADD POST Content here-->


                            <span class="postText"> <%= u.Content %> <img src="<%= u.Image %>" alt=""></span>
                            <p>(<%=u.likes%>)</p>
                             <td>
                               <form action ="/like" method="POST">
                               <input type="text" name="postID" style="display:none" value = "<%= u.postID%>">
                               <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                               <input type="text" name="WallID" style="display:none" value = "<%= WallID%>">
                               <input type="text" name="name" style="display:none" value = "<%= name%>">
                               <button name="toProfile" class="likeBtn"><i class="material-icons" >thumb_up_alt</i>Like</button>

                                   </form>
                                 </td>
                                   <td>
                       <form action="/dislike" method="POST">
                              <input type="text" name="postID" style="display:none" value = "<%= u.postID%>">
                           <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                           <input type="text" name="WallID" style="display:none" value = "<%= WallID%>">
                           <input type="text" name="name" style="display:none" value = "<%= name%>">
                           <button name="toProfile" class="dislikeBtn"><i class="material-icons">thumb_down_alt</i>Dislike</button>
                       </form> </td>
                            <span class="postText">




                            </span>



                            <form action="/commentPage" method="POST">



                                 <input type="text" id="postID" name = "postID" style="display:none" value = "<%= u.postID%>">
<input type="text" id="userName" name = "userName" style="display:none" value = "<%= name%>">
                                <input type="text" id="userID" name = "userID" style="display:none" value = "<%= userID%>">
                                </td>




                            <td> <button name="toCommentPage" class="toCommentPageBtn" >Comments </button> </td>
                                </form>

                        </tr>


                            <!-- <% }) %> -->
                </table>

    </div>
    </div>



    </div>

    <!--<%friends.forEach(function(u){%>-->
         <p class="taggableFriendName" style="display:none"><%=u.Fname%> <%=u.Lname%></p>
         <p class="taggableFriendID" style="display:none"><%=u.ID%></p>


     <!--  <% }); %>-->




    <!-- Show/hide drop down menu -->
    <script>


        function dropDownTop() {

            var dropDownList = document.getElementById("quickAccess_list");
            var NotificationDrop = document.getElementById("notifcation_list");

            if(dropDownList.style.display === "block")
                dropDownList.style.display = "none";

            else
                dropDownList.style.display = "block";

            if(NotificationDrop.style.display === "block")
                NotificationDrop.style.display = "none";
        }

        function NotificationDropDownTop() {


            var dropDownList = document.getElementById("notifcation_list");
            var dropDownTop = document.getElementById("quickAccess_list");

            if(dropDownList.style.display === "block")
                dropDownList.style.display = "none";
            else
                dropDownList.style.display = "block";

            if(dropDownTop.style.display === "block")
                dropDownTop.style.display = "none";

        }


        function dropDownSide() {

            var dropDownList = document.getElementById("dropDownList");


            if(dropDownList.style.display === "block")
                dropDownList.style.display = "none";
            else
                dropDownList.style.display = "block";
        }


          function showNewPostFromBox() {

            var newPostTextForm = document.getElementById("post");


            if(newPostTextForm.style.display === "block")
                newPostTextForm.style.display = "none";
            else
                newPostTextForm.style.display = "block";
        }



          function tagFriends(){
            var textinput = document.getElementById("textPost").value;

            checkTags(textinput);
            closeUnusedTagSuggestions();

            for(i=0;i<textinput.length;i++){


              if(textinput.charAt(i)=="@"){
                var taggableFriends =document.getElementsByClassName("taggableFriendName");
                var taggableFriendsID=document.getElementsByClassName("taggableFriendID");
                var nameLength=textinput.length-i-1;
                var matchedFriends = new Array();
                var matchedFriendID = new Array();



                for(z=0;z<taggableFriends.length;z++){

                  if(textinput.substring(i+1,textinput.length).toUpperCase()==taggableFriends[z].innerHTML.substring(0,nameLength).toUpperCase()){

                    matchedFriends.push(taggableFriends[z].innerHTML);
                    matchedFriendID.push(taggableFriendsID[z].innerHTML);

                  };

                };

                var showMatchedFriends;

                for(x=0;x<5;x++){
                  if(typeof matchedFriends[x]!=='undefined'){
                  if(typeof showMatchedFriends!=='undefined')
                    showMatchedFriends= showMatchedFriends+"<tr class=\"taggableFriends\"><td><button id=\""+matchedFriendID[x]+"\" type=\"button\" onclick=\"tagFriend("+matchedFriendID[x]+")\" value=\""+matchedFriends[x]+"\">"+matchedFriends[x]+"</button></td></tr>";

                  else
                    showMatchedFriends= "<tr class=\"taggableFriends\"><td><button id=\""+matchedFriendID[x]+"\" type=\"button\" onclick=\"tagFriend("+matchedFriendID[x]+")\" value=\""+matchedFriends[x]+"\">"+matchedFriends[x]+"</button></td></tr>";

                  };


                  if(typeof showMatchedFriends!=='undefined')
                    document.getElementById("matchedFriends").innerHTML = showMatchedFriends;

                  };


              };
            };
          };

          function tagFriend(friendID){
            var friendName = document.getElementById(friendID).value;
            var taggedFriends = document.getElementsByClassName("taggedFriends");
            

            autocomplete(friendName);

              var htmlFriends = new Array();

              for(i=0;i<taggedFriends.length;i++){

                htmlFriends.push("<p class=\"taggedFriends\">"+taggedFriends[i].innerHTML+ "</p>");

              }

              var showTaggedFriends="<p class=\"taggedFriends\">"+friendName+"</p>"

              for(z=0;z<htmlFriends.length;z++){

                showTaggedFriends = showTaggedFriends+ htmlFriends[z];

              }

              document.getElementById("allTaggedFriends").innerHTML = showTaggedFriends;

          };

          function autocomplete(friendName){
            var textinput = document.getElementById("textPost").value;
            var lastChar=0;
            for(i=0;i<textinput.length;i++){
              if(textinput.charAt(i)=="@")
                lastChar = i;
            };
            document.getElementById("textPost").value = textinput.substring(0,lastChar)+"@"+friendName;
          };

          function checkTags(text){
            var taggedFriends = document.getElementsByClassName("taggableFriendName");
            var taggedFriendsIDs = document.getElementsByClassName("taggableFriendID");
            var checkedFriends = new Array();
            var checkedFriendIDs = new Array();

            var z = 0;
            for(i=0;i<taggedFriends.length;i++){
              for(start=0;start<text.length;start++){
                for(end=start;end<text.length;end++){
                  if(text.substring(start,end)==taggedFriends[i].innerHTML){
                    checkedFriends.push("<p class=\"taggedFriends\">"+taggedFriends[i].innerHTML+ "</p>");
                    checkedFriendIDs.push("<input type=\"text\" id=\"taggedFriend"+z+"\" name = \"taggedFriend"+z+"\" style = \"display:none\" value = "+taggedFriendsIDs[i].innerHTML+">");
                    z++;
                  }
                }
              }
            }

            var showCheckedFriends = checkedFriends[0];
            var showCheckedFriendIDs = checkedFriendIDs[0];

            for(allTags=1;allTags<checkedFriends.length;allTags++){
              showCheckedFriends = showCheckedFriends+checkedFriends[allTags];
              showCheckedFriendIDs = showCheckedFriendIDs+checkedFriendIDs[allTags];
            }

            if(checkedFriends.length!=0){
              document.getElementById("allTaggedFriends").innerHTML = showCheckedFriends;
              document.getElementById("taggedFriendsIDs").innerHTML = showCheckedFriendIDs;
            }
            else{
              document.getElementById("allTaggedFriends").innerHTML = "";
              document.getElementById("taggedFriendsIDs").innerHTML = "";
            }

          };

          function closeUnusedTagSuggestions(){
            var taggedFriends = document.getElementsByClassName("taggedFriends");
            var textinput = document.getElementById("textPost").value;
            var tags = 0;

            for(i=0;i<textinput.length;i++){
              if(textinput.charAt(i)=="@")
                tags++;
            }
            if(tags==taggedFriends.length)
              document.getElementById("matchedFriends").innerHTML = "";
          }





    </script>

<% include headers/footer %>
