<% include headers/header %>

<nav class="navbar navbar-expand-lg fixed-top">

<a class="navbar-brand" href="#">
        <div class="navbar-header">
                <a class="navbar-brand" href="/homepage">School App</a>
              </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent"> </div>


    <li class="nav-item dropdown list-unstyled ">
        <% if (userID== WallID){ %>
        <% if(typeof notification !== 'undefined'){ %>
      <button class="btn btn-primary m-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><i class="fab fa-facebook-messenger p-1" style="font-size:20px;"></i></button>
        <% }%>
        <% }%>
      <div class=""></div>
      <div class="dropdown-menu  " aria-labelledby="navbarDropdown">
            <% if (userID== WallID){ %>
                <% if(typeof notification !== 'undefined'){ %>
                  <% messengerNotific.forEach(function (u) { %>
        <a class="dropdown-item " href="#"><i class="fab fa-rocketchat p-1"></i><span class="text-info"><%= u.Fname%></span> has sent you a message</a>
        <% })%>
        <% }%>
    <% }%>
 

 <li class="nav-item dropdown list-unstyled">
        <% if (userID== WallID){ %>
        <% if(typeof notification !== 'undefined'){ %>
      <button class="btn btn-warning nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><i class="fas fa-bell m-1"></i>Notifications <span class="badge badge-danger"><%= notification.length%> </span></button>
        <% }%>
        <% }%>
      <div class=""></div>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if (userID== WallID){ %>
                <% if(typeof notification !== 'undefined'){ %>
                    <% notification.forEach(function (u) { %>
        <a class="dropdown-item" href="#"><em id="notificationIcon" class="material-icons" style="font-size:20px; padding-right: 10px; color: rgb(126, 2, 2);">feedback</em><%= u.Fname%> has posted on your wall</a>
        <% })%>
        <% }%>
    <% }%>
    </li>

        <a class="btn btn-outline-danger my-2 my-sm-0 ml-3 mr-3" role="button" href="/homepage"> <i class="fas fa-sign-out-alt"></i>Log Out</a>

  </nav>

  <div class="wrapper">
        <aside class="main_sidebar">
                <ul class="sidebar_menu">


                        <div class="card text-center"  style="padding-top:10px; background-color: rgb(16, 26, 49);">
                                <img class="rounded-circle"  style="margin-left: 110px;" src="stylesheets/res/placeholderProfilePicture.png" alt="User Profile Picture" height="128px" width="128px">
                                <div class="card-body">
                                  <h5 class="card-title text-white"><%= name%></h5>
    
                                  <form action="/viewProfile" method="POST">
    
    
                                    <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                                    <button name="toProfile" class="btn btn-danger"><i class="fa fa-user-circle m-1"></i>View Profile</button>
                                        </form>
                                
                                </div>
                              </div>

                        <li class="sidebar_menu_item">
                        
                                
                        </li>
    
                        <li class="sidebar_menu_item">
                          <form action="/goToWall" method="POST">
                            <input type="text" name = "userID" style="display:none" value="<%=userID%>">
                            <input type="text" name = "friendID" style="display:none" value="<%=userID%>">
                            <button name="toMyWall" class="toMyWall"><i class="material-icons" style="float: left;padding-right:10px;">description</i>My Wall</button>
                          </form>
                        </li>
    
                        <li class="sidebar_menu_item">
    
                         <form action="/friends" method="POST">
    
                                                   <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                                                   <input type="text" name="userName" style="display:none" value = "<%= name%>">
                                                   <button name="toFriends" class="toFriends"><i class="material-icons" style="float: left;padding-right:10px;">tag_faces</i>Friends</button>
                                                       </form>
    
                                                       </li>
    
                            <li class="sidebar_menu_item">
    
                                <form action="/groups" method="POST">
    
                                <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                                <button name="toGroups" class="toGroups"><i class="material-icons" style="float: left;padding-right:10px;">group_work</i>Groups</button>
                                    </form>
    
                                    </li>
    
                                    <li class="sidebar_menu_item"><a href="#" onClick="dropDownSide();return false;"><em class="material-icons" style="float:left;padding-right:10px;">supervisor_account</em>Student Info <em class="material-icons" style="float: right;font-size:20px">keyboard_arrow_down</em></a>
                                        <ul class="sidebar_studentInfo_dropDownMenu" id="dropDownList" style="display: none" >
                                            <li class="sidebar_menu_item">
                                                <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">stars</i>Grades</a>
                                            </li>
                                            <li class="sidebar_menu_item">
                                                <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">date_range</i>Schedule</a>
                                            </li>
                                            <li class="sidebar_menu_item">
                                                <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">school</i>Classes</a>
                                            </li>
                                        </ul>
                
                                    </li>
                
    
    
                        <li class="sidebar_menu_item">
    
                            <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">contact_phone</i>Teacher Contact Info</a>
                        </li>
    
                        <li class="sidebar_menu_item">
                            <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">help</i>Help</a>
                        </li>
    
                    </ul>
                 </aside>
        
                </div> 
                
<div class="page_content">

 <div class="container-fluid">
         <div class="row">

 <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-10">

        <div class="card text-center" style="width: 75rem;">
            <div class="card-header">
                  <h2>Make a Post</h2>
                </div>
        <div class="card-body">
            <h5 class="card-title"> 
                    <label for="postTitle" class="col-form-label"> Post Title</label>
                    <input type="text" class="form-control" name="PostTitle" id="postTitle" style="width: 95%;"></h5> 
                <div id="post" style="display: block;">

                        <form action="/posting" method="POST"  enctype="multipart/form-data">
            
                          <input type="text" id="WallID" name = "WallID" style="display:none" value = "<%= WallID%>">
                          <input type="text" id="PosterID" name = "PosterID" style="display:none" value = "<%= userID%>">
                            <input type="text" id="name" name = "name" style="display:none" value = "<%= name%>">
                            <p id="taggedFriendsIDs"></p>
            
                        <div class="textArea" >
            
                         <textarea id="textPost" class="form-control" name="textPost" rows="6" cols="100" oninput="tagFriends()" placeholder="Say Something." style="resize:none; width: 125%;"></textarea>
            
                         <table class="tagFriendsTable" id="matchedFriends">
                           <!-- matched friends will go here-->
                         </table>
             


                        </div>

                        
                  <form action="/" method="POST">
                    <span class="editInfoTxt  float-left">Upload an image: <input type="file" name="userImageEdit"></span>
                         <button name="submitPost" id="submitPost" class="btn btn-primary btn-lg float-right">Post</button>
                     </form>
                
            </div>
         </div>
             <div class="card-footer">
                    <p class="taggedFriendsLabel float-left text-primary">Tagged Friends:</p> 
                    <span id="allTaggedFriends" style="display:inline-block;"></span>
            </div>
                        
                </div>
              </div>

            


       
<div class=" col-lg-7 col-md-10 col-sm-12 col-xs-12">
        <h2 style="margin-top:20px;">Wall Posts</h2>
        <hr class="my-4"> 

    <% posts.forEach(function(u){ %>

            <div class="card text-left" style="width: 70rem;">

                                <!-- POST HEADER (add user image here if nessacary) -->

                                    <div class="card-header"><span style="font-size: 20px;"><i class="fa fa-user-circle m-1"></i><%= u.Fname%></span>
                                        <span class="text-muted" style="float:right;">3 days ago </span></div>

                                 <!-- POST BODY (post content with the rating show inside here)  -->

                                    <div class="card-body">
                                      <h5 class="card-title">Post Title</h5>
                                      <p class="card-text"> <span> <%= u.Content %> <img src="<%= u.Image %>" alt=""></span></p>
                                      <span style="float:right;">(<%=u.likes%>)</span>
                                    </div>

                                <!-- POST footer (shows like and dislike buttons as well as the button to go to comment page) -->

                    <div class="card-footer">

                                    <!-- LIKE -->

                                <form action ="/like" method="POST" style="display:inline-block;">
                                                <input type="text" name="postID" style="display:none" value = "<%= u.postID%>">
                                                <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                                                <input type="text" name="WallID" style="display:none" value = "<%= WallID%>">
                                                <input type="text" name="name" style="display:none" value = "<%= name%>">
                                                <button class="btn btn-success" name="toProfile"><i class="fa fa-thumbs-up"></i></button>
                                </form>

                                    <!--DISLIKE  -->

                                 <form action="/dislike" method="POST" style="display:inline-block;">
                                            <input type="text" name="postID" style="display:none" value = "<%= u.postID%>">
                                            <input type="text" name="userID" style="display:none" value = "<%= userID%>">
                                            <input type="text" name="WallID" style="display:none" value = "<%= WallID%>">
                                            <input type="text" name="name" style="display:none" value = "<%= name%>">
                                            <button class="btn btn-danger" name="toProfile"><i class="fa fa-thumbs-down"></i></button>
                                 </form> 

                                    <!--COMMENT  -->

                        <div style="float:right;">                   
                            <form action="/commentPage" method="POST" style="display:inline-block;">

                                <input type="text" id="postID" name = "postID" style="display:none" value = "<%= u.postID%>">
                               <input type="text" id="userName" name = "userName" style="display:none" value = "<%= name%>">
                               <input type="text" id="userID" name = "userID" style="display:none" value = "<%= userID%>">
                               <button class="btn" name="toCommentPage" data-toggle="tooltip" data-placement="right" title="Go To Comment Page" ><i class="fas fa-reply m-1"></i>Reply</button>
                             </form>
                        </div>              
                                         
                 </div>
            </div>
                                 <div class="my-3"></div>

                        <% }) %> 

                    </div> 
                </div>
           </div>     
</div>

    <!--<%friends.forEach(function(u){%>-->
         <p class="taggableFriendName" style="display:none"><%=u.Fname%> <%=u.Lname%></p>
         <p class="taggableFriendID" style="display:none"><%=u.ID%></p>


     <!--  <% }); %>-->




    <!-- Show/hide drop down menu -->
    <script>


        function dropDownTop() {

            var dropDownList = document.getElementById("quickAccess_list");
            var NotificationDrop = document.getElementById("notifcation_list");

            if(dropDownList.style.display === "block")
                dropDownList.style.display = "none";

            else
                dropDownList.style.display = "block";

            if(NotificationDrop.style.display === "block")
                NotificationDrop.style.display = "none";
        }

        function NotificationDropDownTop() {


            var dropDownList = document.getElementById("notifcation_list");
            var dropDownTop = document.getElementById("quickAccess_list");

            if(dropDownList.style.display === "block")
                dropDownList.style.display = "none";
            else
                dropDownList.style.display = "block";

            if(dropDownTop.style.display === "block")
                dropDownTop.style.display = "none";

        }


        function dropDownSide() {

            var dropDownList = document.getElementById("dropDownList");


            if(dropDownList.style.display === "block")
                dropDownList.style.display = "none";
            else
                dropDownList.style.display = "block";
        }


          function showNewPostFromBox() {

            var newPostTextForm = document.getElementById("post");


            if(newPostTextForm.style.display === "block")
                newPostTextForm.style.display = "none";
            else
                newPostTextForm.style.display = "block";
        }



          function tagFriends(){
            var textinput = document.getElementById("textPost").value;

            checkTags(textinput);
            closeUnusedTagSuggestions();

            for(i=0;i<textinput.length;i++){


              if(textinput.charAt(i)=="@"){
                var taggableFriends =document.getElementsByClassName("taggableFriendName");
                var taggableFriendsID=document.getElementsByClassName("taggableFriendID");
                var nameLength=textinput.length-i-1;
                var matchedFriends = new Array();
                var matchedFriendID = new Array();



                for(z=0;z<taggableFriends.length;z++){

                  if(textinput.substring(i+1,textinput.length).toUpperCase()==taggableFriends[z].innerHTML.substring(0,nameLength).toUpperCase()){

                    matchedFriends.push(taggableFriends[z].innerHTML);
                    matchedFriendID.push(taggableFriendsID[z].innerHTML);

                  };

                };

                var showMatchedFriends;

                for(x=0;x<5;x++){
                  if(typeof matchedFriends[x]!=='undefined'){
                  if(typeof showMatchedFriends!=='undefined')
                    showMatchedFriends= showMatchedFriends+"<tr class=\"taggableFriends\"><td><button id=\""+matchedFriendID[x]+"\" type=\"button\" onclick=\"tagFriend("+matchedFriendID[x]+")\" value=\""+matchedFriends[x]+"\">"+matchedFriends[x]+"</button></td></tr>";

                  else
                    showMatchedFriends= "<tr class=\"taggableFriends\"><td><button id=\""+matchedFriendID[x]+"\" type=\"button\" onclick=\"tagFriend("+matchedFriendID[x]+")\" value=\""+matchedFriends[x]+"\">"+matchedFriends[x]+"</button></td></tr>";

                  };


                  if(typeof showMatchedFriends!=='undefined')
                    document.getElementById("matchedFriends").innerHTML = showMatchedFriends;

                  };


              };
            };
          };

          function tagFriend(friendID){
            var friendName = document.getElementById(friendID).value;
            var taggedFriends = document.getElementsByClassName("taggedFriends");


            autocomplete(friendName);

              var htmlFriends = new Array();

              for(i=0;i<taggedFriends.length;i++){

                htmlFriends.push("<p class=\"taggedFriends\">"+taggedFriends[i].innerHTML+ "</p>");

              }

              var showTaggedFriends="<p class=\"taggedFriends\">"+friendName+"</p>"

              for(z=0;z<htmlFriends.length;z++){

                showTaggedFriends = showTaggedFriends+ htmlFriends[z];

              }

              document.getElementById("allTaggedFriends").innerHTML = showTaggedFriends;

          };

          function autocomplete(friendName){
            var textinput = document.getElementById("textPost").value;
            var lastChar=0;
            for(i=0;i<textinput.length;i++){
              if(textinput.charAt(i)=="@")
                lastChar = i;
            };
            document.getElementById("textPost").value = textinput.substring(0,lastChar)+"@"+friendName;
          };

          function checkTags(text){
            var taggedFriends = document.getElementsByClassName("taggableFriendName");
            var taggedFriendsIDs = document.getElementsByClassName("taggableFriendID");
            var checkedFriends = new Array();
            var checkedFriendIDs = new Array();

            var z = 0;
            for(i=0;i<taggedFriends.length;i++){
              for(start=0;start<text.length;start++){
                for(end=start;end<text.length;end++){
                  if(text.substring(start,end)==taggedFriends[i].innerHTML){
                    checkedFriends.push("<p class=\"taggedFriends\">"+taggedFriends[i].innerHTML+ "</p>");
                    checkedFriendIDs.push("<input type=\"text\" id=\"taggedFriend"+z+"\" name = \"taggedFriend"+z+"\" style = \"display:none\" value = "+taggedFriendsIDs[i].innerHTML+">");
                    z++;
                  }
                }
              }
            }

            var showCheckedFriends = checkedFriends[0];
            var showCheckedFriendIDs = checkedFriendIDs[0];

            for(allTags=1;allTags<checkedFriends.length;allTags++){
              showCheckedFriends = showCheckedFriends+checkedFriends[allTags];
              showCheckedFriendIDs = showCheckedFriendIDs+checkedFriendIDs[allTags];
            }

            if(checkedFriends.length!=0){
              document.getElementById("allTaggedFriends").innerHTML = showCheckedFriends;
              document.getElementById("taggedFriendsIDs").innerHTML = showCheckedFriendIDs;
            }
            else{
              document.getElementById("allTaggedFriends").innerHTML = "";
              document.getElementById("taggedFriendsIDs").innerHTML = "";
            }

          };

          function closeUnusedTagSuggestions(){
            var taggedFriends = document.getElementsByClassName("taggedFriends");
            var textinput = document.getElementById("textPost").value;
            var tags = 0;

            for(i=0;i<textinput.length;i++){
              if(textinput.charAt(i)=="@")
                tags++;
            }
            if(tags==taggedFriends.length)
              document.getElementById("matchedFriends").innerHTML = "";
          }





    </script>

<% include headers/footer %>
