<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <table class="viewParents">
        <% parents.forEach(function(u){%>

        <tr>
            <form action="/parentMessenger"  method="post">
                <input type="hidden" name="teacher_name" value="<%= teacher %>">
                <input type="hidden" name="teacher_ID" value="<%= userID%>">

                <td><input name="parent_name" type="text" value="<%= u.Fname %>" readonly></td>
                <td><input name="lname" type="text" value="<%= u.Lname %>" readonly></td>
                <td><input name="userID" type="text" value="<%=userID%>" style="display:none"></td>
                <td><input name="parentID" type="text" style="display:none" value="<%= u.ID%>"></td>
                 <td><input type="submit" value="message" >
                </td>
            </form>
        </tr>

        <% }) %>

    </table>






</head>
<body>

</body>
</html>
